<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="PawDiction: Dog Emotion Prediction" />
    <title>PawDiction</title>
    <link rel="stylesheet" href="../templates/css/styleschoose.css" />
  </head>
  <body>
  	<header
      <div class="navbar">
        <img class="logo" src="./static_images/Logo.png" alt="pawdiction logo">
          <ul>
            <li><a href="../index.html" accesskey="s">HOME</a></li>
          </ul>
      </div>
    </header>
    <div class="options" id="options">
        <a href="../templates/upload.html"><button type="submit" id="upload" value="upload"><img class="icon" src="./static_images/upload.png" alt="upload icon">UPLOAD PHOTO</button></a>
        <a href="../templates/camera.html"><button type="submit" id="camera" value="camera"><img class="icon" src="./static_images/capture.png" alt="capture icon">USE CAMERA</button></a>
    </div>
  </body>
</html>