<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="PawDiction: Dog Emotion Prediction" />
    <title>PawDiction</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.min.css"/>
    <link rel="stylesheet" href="../templates/css/stylesstart.css" />
  </head>
  <body>
  	<header>
      <div class="navbar">
        <img class="logo" src="./static_images/Logo.png" alt="pawdiction logo">
          <ul>
            <li><a href="../index.html">HOME</a></li>
  		    </ul>
      </div>
  	</header>
    <div class="upload-section">
          <div class="form">
            <canvas id="canvas" width="500" height="400"></canvas>
            <div class="upload-loading">
              <div class="ld ld-wander-v"><img src="./static_images/paw.png" alt=""></div> 
              <h3>verifying</h3>
            </div>
          </div>
          <div class="options">
              <input type="file" id="upload" value="upload" accept="image/*">
              <label for="upload" class="upload"><img class="icon" src="./static_images/upload.png" alt="upload icon">UPLOAD IMAGE</label>
              <button id="predict" value="predict"> <img class="icon" src="./static_images/predict.png" alt="star icon">PREDICT</button>
          </div>
    </div>
 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../templates/js/upload.js"></script>
  </body>
</html>